*{
	box-sizing: border-box;
	margin: 0; 
	padding:0;
}

body{
	font-family: 'PT Sans', sans-serif;
	background-image: url(images/bg3.jpg);
}

.wrapper{
	width: 1280px;
	height: 1600px;
	margin: 0 auto;
	background-color: rgba(246,244,223, 0.85);
	box-shadow: 0px 1px 20px #000;
	position: relative;
}

/*.img-house{
	position: absolute;
	z-index: -9999;
	bottom: 0;
	right: 0;
}*/

/*.gerb-container{
	width: 260px;
	height: 282px;  тут нужно настроить размеры. Я вчера минут 5 потратил, чтобы понять почему у меня сайдбар смещается в право , и весь сайт ломается. Не превышай больше размеры елемента в 324px, если блок для него 300px !!!!!!! :)
	padding: 20px;
	margin: 1.5%;
	float: left;
	background-color: #fff;
}
*/

/*Навигация*/

.header-block{
	display: flex;
	justify-content: center;
	margin-right: 2%;
}

.nav{
	display: flex;
	justify-content: center;
	position: fixed;
	margin-top: 2%;
}

.inner-nav{
	list-style: none;
	width: 880px;
}

.inner-nav li{
	display: inline;
}

.buttons{
	padding: 1.2% 2.55% 1.2% 2.55%;
	margin-right: -0.45%;
	border: 1px solid transparent;
	border-right: 1px solid #C5C5CD;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	background-color: #61C0DE;
	text-decoration: none;
	user-select: none;
}

/*Наведение*/

.buttons:hover{
	border-right: 1px solid transparent;
	transition: 0.8s;
	border: 1px solid #61C0DE;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
	box-shadow: inset 0px 0px 16px #000; /*тень во внутрь - inset*/
	animation: bg 0.8s infinite alternate; 
}

/*Анимация*/

@keyframes bg{
	from{background-color: #61C0DE}
	to{background-color: #635858}
}


/*Шапка*/

header{
	width: 100%;
	height: 483;
}
.header-unit{
	width: 1230px;
	height: 483px;
	background-color: #fff;
	margin-top: 6.5%;
	background-image: url(images/backgr.jpg);
	margin-left: 1.6%;
	box-shadow: 0px 0px 20px #000;
	border-radius: 2px;
}


.header_text1{
	font-family: 'Patrick Hand', cursive;
	text-align: center;
	color: #fff;
	font-size: 32px;
	padding-top: 30px;
	/*text-shadow: 0px 0px 1px #000;*/
	user-select: none;
	animation: head 5.5s 1 alternate;
}

.header_text2{
	font-family: 'Patrick Hand', cursive;
	text-align: left;
	color: #fff;
	font-size: 32px;
	padding-top: 40px;
	user-select: none;
	display: block;
	animation: tex 4s 1 normal forwards;
}

@keyframes head{
	from{color: transparent;}
	50%{color: transparent;}
	75%{color: transparent;}
	to{color: #fff;}
}

@keyframes tex{
	from{text-align: left;color: transparent;}
	30%{color: transparent;}
	to{padding-left: 470px;color: #fff;}
}

/*Сайдбар*/

aside{
	width: 350px;
	height: 600px;
	padding-top: 40px;
	float: left;
}

.sidebar-container{
	width: 330px;
	height: 600px;
	padding-left: 20px;
	list-style: none;
	display: list-style-type: ;
}
.sidebar-block{padding-bottom: 20px;}
.sidebar{
	width: 260px;
	max-height: 280px;
	background-color: #61c0de;
	border-radius: 15px;
}

.side-text{
	width: 260px;
	height: 90px;
	border-radius: 15px;
	text-decoration: none;
	user-select: none;
	font-size: 22px;
	background-color: #61c0de;
	color: white;
	padding: 30px 40px;
	display: list-item; /*Важная штука для кнопок одного размера!*/
}

.side-text:active,    /*цвет во-время активации*/
.side-text:focus,      /*цвет после активации*/
.side-text:hover{
	background-color: #90b7c5;
}

.side-list{
	list-style: none;
	display: none;
}

.side-link{
	display: list-item;
	width: 260px;
	height: 40px;
	text-decoration: none;
	user-select: none;
	font-size: 18px;
	color: white;
	padding:6px 25px;
}

.side-link:hover{
	border: 1px solid white;
}

.side-text:active ~ .side-list,
.side-text:focus ~ .side-list, /*Фокусировка на елементе . То есть, что будет после нажатия. Обычно используют в связке с active*/
.side-list:hover{
	display: block;
}

.slider-container{
	width: 840px;
	height: 420px;
	background-color: white;
	float: right;
}

.slider-position{
	padding: 40px 80px 0 0;
}